<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LocomotiveConfigFilePath" value ="Gleisbox"/>
        <add key="ExportFilesPath" value ="C:\Tmp\"/>
        <!--
        <add key="LocomotiveConfigFileWin" value ="\\Mac\Home\Documents\Maerklin\CS2"/>
        <add key="LocomotiveConfigFileLinux" value ="/Users/ralf/Documents/Maerklin/CS2/"/>
        <add key="ExportPathWin" value ="\\Mac\Home\Downloads\CS2_Temp\"/>
        <add key="ExportPathLinux" value ="/Users/ralf/Downloads"/>
        -->
    </appSettings> 
</configuration>