<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LocomotiveListPath" value ="@\\Mac\Home\Documents\Maerklin\CS2\lokomotive.cs2"/>
    </appSettings>
    <connectionStrings>
        <add name="MyKey"
             connectionString="Data Source=localhost;Initial Catalog=ABC;"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>