<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LocomotiveListFileWin" value ="\\Mac\Home\Documents\Maerklin\CS2\lokomotive.cs2"/>
        <add key="LocomotiveListFileLinux" value ="/Users/ralf/Documents/Maerklin/CS2/lokomotive.cs2"/>
        <add key="ExportPathWin" value ="\\Mac\Home\Downloads"/>
        <add key="ExportPathLinux" value ="/Users/ralf/Downloads"/>
    </appSettings> 
</configuration>