
.DS_Store
**/*.json
**/*.exe
.vs/LocDbConverterConsole/xs/project-cache/LocDbConverterConsole-Debug|iPhoneSimulator.json
LocDbConverterConsole/.DS_Store
LocDbConverterConsole/Assets.xcassets/.DS_Store
LocDbConverterConsole/Resources/.DS_Store
#LocDbConverterConsole/bin/.DS_Store
LocDbConverterConsole/bin/**
#LocDbConverterConsole/obj/.DS_Store
LocDbConverterConsole/obj/**
#LocDbConverterConsole/obj/iPhoneSimulator/.DS_Store
#LocDbConverterConsole/obj/iPhoneSimulator/Debug/.DS_Store
#LocDbConverterConsole/obj/iPhoneSimulator/Debug/LocDbConverterConsole.csproj.AssemblyReference.cache
#LocDbConverterConsole/obj/iPhoneSimulator/Debug/ibtool-link/.DS_Store
#LocDbConverterConsole/obj/iPhoneSimulator/Debug/ibtool/.DS_Store
.vs/LocDbConverterConsole/xs/project-cache/LocDbConverterConsole-Debug|iPhoneSimulator.json
.vs/LocDbConverterConsole/xs/project-cache/LocDbConverterConsole-Debug|iPhone.json
*.v2
*.vsidx
.vs/LocDbConverterConsole/v17/.suo
*.vsidx
.vs/LocDbConverterConsole/DesignTimeBuild/.dtbcache.v2
.vs/LocDbConverterConsole/v17/.futdcache.v2
.vs/LocDbConverterConsole/v17/.suo
.vs/ProjectEvaluation/locdbconverterconsole.metadata.v6.1
.vs/ProjectEvaluation/locdbconverterconsole.projects.v6.1
.vs/ProjectEvaluation/locdbconverterconsole.projects.v6.1
.vs/ProjectEvaluation/locdbconverterconsole.metadata.v6.1
.vs/LocDbConverterConsole/v17/.suo
.vs/LocDbConverterConsole/v17/.futdcache.v2
.vs/LocDbConverterConsole/FileContentIndex/dd1e45e8-b81f-4593-86a8-bd9101a8f1e1.vsidx
.vs/LocDbConverterConsole/FileContentIndex/38458602-3538-4290-a419-ab7d3779c5e6.vsidx
.vs/LocDbConverterConsole/DesignTimeBuild/.dtbcache.v2
.vs/LocDbConverterConsole/DesignTimeBuild/.dtbcache.v2
.vs/LocDbConverterConsole/FileContentIndex/38458602-3538-4290-a419-ab7d3779c5e6.vsidx
.vs/LocDbConverterConsole/FileContentIndex/dd1e45e8-b81f-4593-86a8-bd9101a8f1e1.vsidx
.vs/LocDbConverterConsole/v17/.futdcache.v2
.vs/LocDbConverterConsole/v17/.suo
.vs/LocDbConverterConsole/xs/UserPrefs.xml
.vs/ProjectEvaluation/locdbconverterconsole.metadata.v6.1
.vs/ProjectEvaluation/locdbconverterconsole.projects.v6.1
.vs/LocDbConverterConsole/DesignTimeBuild/.dtbcache.v2
.vs/LocDbConverterConsole/FileContentIndex/38458602-3538-4290-a419-ab7d3779c5e6.vsidx
.vs/LocDbConverterConsole/FileContentIndex/dd1e45e8-b81f-4593-86a8-bd9101a8f1e1.vsidx
.vs/LocDbConverterConsole/v17/.futdcache.v2
.vs/LocDbConverterConsole/v17/.suo
.vs/LocDbConverterConsole/xs/UserPrefs.xml
.vs/ProjectEvaluation/locdbconverterconsole.metadata.v6.1
.vs/ProjectEvaluation/locdbconverterconsole.projects.v6.1
LocDbConverterConsole/Properties/PublishProfiles/FolderProfile.pubxml
LocDbConverterConsole/Properties/PublishProfiles/FolderProfile.pubxml.user
.vs/ProjectEvaluation/locdbconverterconsole.projects.v6.1
.vs/ProjectEvaluation/locdbconverterconsole.metadata.v6.1
.vs/LocDbConverterConsole/v17/.suo
.vs/LocDbConverterConsole/v17/.futdcache.v2
.vs/LocDbConverterConsole/DesignTimeBuild/.dtbcache.v2
